@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .btn:hover {
        @apply w-full rounded-full bg-slate-100 transition-all ease-in-out;
    }

    button {
        @apply px-5 py-1;
    }

    h1 {
        @apply text-3xl mt-12;
    }

    h2 {
        @apply text-2xl text-gray-900;
    }

    h3 {
        @apply text-gray-500;
    }

    input {
        @apply p-3 rounded-lg border-2 border-blue-800 py-3;
    }

    input:focus {
        @apply border-2 border-blue-800;
    }


    .input-full {
        @apply rounded-lg py-2 px-6 border border-gray-500;
    }
}